.container {
  height: 20rem;
  width: 20rem;
  background: linear-gradient(
    90deg,
    rgba(159, 251, 96, 1) 19%,
    rgba(104, 240, 12, 1) 49%,
    rgba(34, 171, 26, 1) 90%
  );
  padding: 5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
