.CardInfo {
  width: 567px;
  height: 308px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  border-radius: 20px;
  .textInfo {
    margin-left: 3rem;
    h1 {
      color: #ffffff;
    }
    a {
      border: 1px solid #f42d38;
      background-color: #f42d38;
      text-decoration: none;
      color: #ffffff;
      width: 10rem;
      height: 23px;
      border-radius: 20px;
    }
    h2 {
      color: #000000;
    }
  }
}
